@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


body {
    background-color:hsl(217, 54%, 11%);
    color: hsl(215, 51%, 70%);
}
.attribution { font-size: 11px; text-align: center; color: white; }

.attribution a { color: hsl(228, 45%, 44%); }

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: hsl(216, 50%, 16%);
    max-width: 300px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.imagem-nft {
    margin: 15px;
    width: 90%;
    height: 90%;
}

.nft {
    margin:1.5rem 0;
    padding-left: 20px;
    font-weight: 600;
    font-size: 23px;
    color: white;
    text-decoration: none;
}

.usuario{
    border-top:solid 1px hsl(215, 32%, 27%);
    padding: 18px 8px;
}

.nft:hover{
    color: cyan;
}

b{
    color: white;
}

b:hover{
    color: cyan;
}

.view{
    padding: 114px 108px;
    width: 70px;
    height: 80px;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 20px;
}

.view:hover{
    opacity: 40%;
}

.linha{
    display: flex;
    flex-direction: row;
    align-self: center;
}

.eth{
    color: cyan;
    align-items: left;
    align-self: left;
    justify-content: left;
    margin-right: 90px;
    position: relative;
}

.clock{
    color: hsl(215, 51%, 70%);
    align-items: right;
    align-self: right;
    justify-content: right;

}

.texto{
    padding-left: 20px;
}